
body{
	background-color: rgba(0, 0, 0, 0.747);
	color: white;
}
strong{
    color: red;
}
i{ 
	margin-right:20px;
}
#search{
    width:30%;
}
a{
    text-decoration: none;
}

.list {
	margin-top: 25px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-around;
	width:100%;
}

.list .video {
	color:black;
	background-color: #FFF;
	margin:10px 0px 10px 0px;
	width:30%;
	height:400px;
}
.list .video .video-content{
	width:100%;
	padding-left: 5px;
	text-justify: auto;
}
.list .video .video-thumbnail img,.list .video .video-thumbnail iframe{
	height:180px;
	width:360px;
	border-radius: 10px;
	cursor: pointer;
	margin:10px 5px;
	border:1px solid black;
}
.footer{
	margin-top:20px;
}
.pagenumbers {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	margin-left:20%;
}

.pagenumbers button {
	width: 50px;
	height: 50px;

	appearance: none;
	border: none;
	border-radius: 10px;
	outline: none;
	cursor: pointer;

	background-color: red;

	margin: 5px;
	transition: 0.4s;

	color: white;
	font-size: 18px;
	box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
}

.pagenumbers button.active {
	background-color: white;
	color:red;
	box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.2);
}

#btn{
    color: white;
    background-color: red;
	border-radius: 3px;
	border:2px solid red;
}

iframe{
	display:none;
} 

img:hover ~ iframe{
	display: block;
}
img:hover{
	display: none;
} 

@media screen and (max-width:600px){
	body{
		font-size: smaller;
	}
	.list .video{
		width:100%;
		height:340px;
		margin:10px 0px;
	}
	.list .video .video-content{
		width:400px
	}
	.list .video .video-thumbnail img,.list .video .video-thumbnail iframe{
		height:180px;
		width:360px;
		border-radius: 10px;
		cursor: pointer;
		margin:10px 20px;
		border:1px solid black;
	}
	.pagenumbers{
		margin-left:0px;
	}
	.pagenumbers button {
		width: 25px;
		height: 25px;
		font-size:10px;
		margin:3px;
	}
	#prev,#next{
		width:40px;
	}
}

